@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body{
    background: #2E0249;
    color: white;
}

h4{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 0px;
    left: 15px;
    top: -6px;
    position: relative;
}


.div-main{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.div-left{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left-text{
    position: relative;
    margin-top: 100px;
    width: 646px;
    height: 216px;
    top: -7px;
    left: 173px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

.div-right{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    
}
.card-info{
    flex-direction: column;
    position: relative;
    
    width: 700px;
    height: 896px;
    border-radius: 24px;
    margin-top: 100px;
    background: white;
    color: black;

    padding: 50px;
}

.card-paragrafo{
    font-family: 'Poppins';
    font-style: normal;
    
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2E0249;
}

.div-buttons{
    display: flex;
    position: relative;
    gap: 24px;
    padding: 0px;
}

.btn{
    margin-top: 10px;
    color: #2e024960;
    border-color: #2e02494b;

}
.btn:hover{
    background-color:#A91079;
}
.btn:active{
    background-color: #A91079;
}

.form-card{
    flex-direction: column;
    position: relative;
    top: 60px;
    gap: 64px;
}

.form-control{
    display: flex;
    position: relative;
    border: 0;
    border-bottom: 2px solid;
    border-color:#a91079 ;
    border-radius: 0;
    right: 5px;
    margin-bottom: 59px;
    color:#2E0249;
    font-weight: 600;
    font-family: 'Poppins';
    font-style: normal;

}
.form-control::placeholder{
    color:#a910793b;
    left: 10px;
}

.form-control:focus{
    box-shadow: none;
    border-color: #A91079;
    color:#2E0249;
}

.send-img{
    margin-right: 20px;
}

.btn-form{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    background-color:#A91079;
    align-items: center;
    color: white;
    padding: 24px 64px;
    border-radius: 16px;
    gap: 16px;
    cursor: pointer;
    
    position: absolute;
    top: 470px;
}


.div-icons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 57px;
    position: relative;

    width: 451px;
    height: 242px;
    left: 78px;
    top: 116px;
}

.icon{
    width: 24px;
    height: 24px;

    
}

.div-icon-email{
    display: flex;

}
.div-icon-tel{
    display: flex;

}
.div-icon-loc{
    display: flex;

}
.social-icons{
    display: flex;
    gap: 40px;
    position: relative;
    top: 227px;
    cursor: pointe;
}

@media only screen and (max-width: 1252px){
    .div-main{
        flex-direction: column;
    }
    .left-text{
        display: none;
    }
    .div-icons{
        display: none;
    }
    .div-right{
        width: 50vw;
        height: 50vh;
        justify-content: center;
        align-items: center;
        top: 20px;
    }
}